<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List of tasks</title>
<link rel="stylesheet" 
	  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
    <br>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>User</th>
					<th>Title</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			    <tr th:each="task: ${tasks}">
					<td th:text="${task.user.id}"></td>
					<td th:text="${task.title}"></td>
					<td th:text="${task.description}"></td>
					<td>
						<a th:href="@{updateTaskForm(id=${task.id}, userID=${task.user.id})}" class="btn btn-info">Update</a>
						<a th:href="@{deleteTask(id=${task.id}, userID=${task.user.id})}" class="btn btn-danger">Delete</a>
					</td>
			    </tr>
			</tbody>
		</table>
    	<a th:href="@{/mytask/users}" class="btn btn-info">Users</a>		    	
    	<a th:href="@{addTask(userID=${userID})}" class='btn btn-info'>Add Task</a>
	</div>
</body>
</html>